{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-light" role="alert">
                <b>Email: </b><a>{{ user.getEmail() }}</a><br>
                <b>Username: </b><a>{{ user.getUsername() }}</a><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="btn-toolbar mb-3" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <a href="{{ path('app_snippets_add') }}" class="btn btn-success" role="button">
                        Add new snippet
                    </a>
                </div>
                <div class="btn-group mr-2" role="group">
                    <a href="{{ path('app_change_email') }}" class="btn btn-success" role="button">
                        Change email
                    </a>
                </div>
                <div class="btn-group mr-2" role="group">
                    <a href="{{ path('app_change_password') }}" class="btn btn-success" role="button">
                        Change password
                    </a>
                </div>
                <div class="btn-group mr-2" role="group">
                    <a href="{{ path('app_logout') }}" class="btn btn-success" role="button">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include 'snippets/list.html.twig' with {'pagination':pagination} %}    
{% endblock %}