<div>
    <div>=====[snippet: "{{ snippet.title }}"]=====</div>
    <b>Created by: {{  snippet.owner.username }}</b><br>
    <b>Access type: 
        {% if snippet.isPrivate %}
            Private
        {% else %}
            Public
        {% endif %}
    </b><br>
    <a>Snippet text:<br>{{ snippet.text }}</a><br>
    <a href="{{ path('app_snippets_edit', {'urlCode': snippet.urlCode}) }}">edit</a><br>
    <a href="{{ path('app_snippets_delete', {'urlCode': snippet.urlCode}) }}" onclick="return confirm('Are you sure?')">delete</a>
</div>